<template>
    <div>
        <section style="padding: 20px; color: red;text-align: center;font-size: 40px">Vue App</section>
        <div style="text-align: center">
            <router-link to="/menu/list">菜单列表</router-link>
            &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
            <router-link to="/menu/models">菜单模型管理</router-link>
            &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
            <router-link to="/menu/communication">用户管理</router-link>
        </div>
    </div>
</template>
<script>
export default {
  name: "Home"
}
</script>
