<template>
  <div class="{{ dashCase name }}">
    {{ properCase name }}
  </div>
</template>
<script>
  export default {
    name: "{{ properCase name }}",
    data() {
      return {}
    },
    methods: {

    },
    mounted() {

    }
  }
</script>
<style src="./style.less" lang="less" scoped></style>
