/**
*
* {{ properCase name }} Actions
* 所有action方法必须加async，所有异步操作都要加await
* 如下所示
* async [ADD_MENU_ACTION] ({ commit, dispatch }, form) {
*   const res = await addNewMenu(form)
*   if(res.status===200){
*     message.success('添加成功');
*     await commit(SET_MODEL_MUTATION);
*     await dispatch(GET_LIST_ACTION);
*   }else {
*     message.error('添加失败');
*   }
* },
*/

export const actions = {}
