/**
*
* {{ properCase name }} Mutations
*
*/
import {
  SET_LOADING_MUTATION,
} from './constants'

export const mutations = {
    [SET_LOADING_MUTATION] (state,payload) {
        state.loading = payload;
    },
}
