import {getters} from "@pages/{{ properCase name }}/getters";
import {actions} from "@pages/{{ properCase name }}/actions";
import {mutations} from "@pages/{{ properCase name }}/mutations";


const state = () => ({
  name: '{{ properCase name }}',
  loading: false,
})


export default {
  namespaced: true,
  state,
  getters,
  actions,
  mutations
}
