<template>
  <a-spin :spinning="loading">
    <div class="manage-list__box">
      <a-page-header
        style="border: 1px solid rgb(235, 237, 240)"
        title="菜单列表"
      >
        <template slot="extra">
          <a-button key="addNew" type="primary" @click="()=>changeModal(true)">
            新增菜单
          </a-button>
        </template>
        </a-page-header>
      <a-row class="manage-list__content">
        <a-col :span="6">
          <div class="manage-list__card" style="padding: 20px 60px 20px 0;">
            <a-tree :tree-data="treeData" :replaceFields="replaceFields" @select="selectTree">
              <template #title="{ id, name }">
                <a-dropdown :trigger="['contextmenu']">
                  <span>{{ name }}</span>
                  <template #overlay>
                    <a-menu @click="({ key: menuKey }) => onContextMenuClick(id, menuKey)">
                      <a-menu-item key="1">新增子菜单</a-menu-item>
                      <a-menu-item key="2">新增同级菜单</a-menu-item>
                      <a-menu-item key="3">删除</a-menu-item>
                    </a-menu>
                  </template>
                </a-dropdown>
              </template>
            </a-tree>
          </div>
        </a-col>
        <a-col v-if="showDetail" :span="6">
          <div class="manage-list__card animate__animated animate__fadeInLeft">
            <a-form :form="selectItem" :label-col="{ span: 5 }" :wrapper-col="{ span: 12 }" @submit="handleSubmit">
              <a-form-item label="ID">
                <a-input v-decorator="['id', { rules: [{ required: true, message: '请输入菜单名称' }], disabled: true }]"/>
              </a-form-item>
              <a-form-item label="名称">
                <a-input v-decorator="['name', { rules: [{ required: true, message: '请输入菜单名称' }] }]"/>
              </a-form-item>
              <a-form-item label="地址">
                <a-input v-decorator="['url', { rules: [{ required: true, message: '请输入地址' }] }]"/>
              </a-form-item>
              <a-form-item label="组件">
                <a-input v-decorator="['path', { rules: [{ required: true, message: '请输入组件名称' }] }]"/>
              </a-form-item>
              <a-form-item :wrapper-col="{ span: 12, offset: 5 }">
                <a-button type="primary" html-type="submit">
                  保存
                </a-button>
              </a-form-item>
            </a-form>
          </div>
        </a-col>
      </a-row>

      <AddMenu  :modelVisible="modelVisible" :submit="addMenuAction" :handleClose="()=>changeModal(false)" :selectData="data"></AddMenu>
    </div>
  </a-spin>
</template>

<script>
import { mapState, mapActions, mapMutations } from 'vuex'
import {
  GET_LIST_ACTION,
  SET_LIST_MUTATION,
  SET_CACHE_LIST_MUTATION,
  SET_EDITING_KEY_MUTATION,
  SET_LOADING_MUTATION,
  ADD_MENU_ACTION,
  DELETE_MENU_ACTION,
  SET_MODEL_MUTATION,
    UPDATE_MENU_ACTION
} from './constants'
import AddMenu from "../../components/addMenu"
const treeData = [
  {
    id: 1,
    url: '/manage',
    path: '',
    name: '系统配置',
    children: 
      [
        {"id": 11, "url": '/manage/menu/list', "path": 'Menu', "name": '菜单配置', "children": []},
        {"id": 12, "url": '/manage/model', "path": 'Model', "name": '菜单模型', "children": []}
      ]
  }
]
export default {
  name: "Menu",
  data() {
    return {
      treeData,
      replaceFields: {
        title: 'name',
        key: 'id'
      },
      selectItem: this.$form.createForm(this, { name: 'coordinated' }),
      showDetail: false
    }
  },
  /**
   * computed会把vuex store里面的值拿到当前页面上来
   */
  computed: mapState({
    loading: state => state.Menu.loading,
    data: state => state.Menu.data,
    cacheData: state => state.Menu.cacheData,
    editingKey: state => state.Menu.editingKey,
    modelVisible: state => state.Menu.modelVisible,
  }),
  components: { AddMenu },
  created() {
    this.getListAction();
  },
  methods: {
    /**
     * mapMutations把vuex Mutations里面的方法拿到当前页面来 这是用来更新store里面的值 同步执行
     */
    ...mapMutations({
      setData:`Menu/${SET_LIST_MUTATION}`,
      setCacheData:`Menu/${SET_CACHE_LIST_MUTATION}`,
      setEditingKey:`Menu/${SET_EDITING_KEY_MUTATION}`,
      setLoading:`Menu/${SET_LOADING_MUTATION}`,
      setModal:`Menu/${SET_MODEL_MUTATION}`,
    }),
    /**
     * mapActions把vuex actions里面的方法拿到当前页面来 这是用来处理异步以及复杂业务 通过await实现同步执行
     */
    ...mapActions({
      getListAction:`Menu/${GET_LIST_ACTION}`,
      addMenuAction:`Menu/${ADD_MENU_ACTION}`,
      deleteMenuAction:`Menu/${DELETE_MENU_ACTION}`,
      updateMenuAction:`Menu/${UPDATE_MENU_ACTION}`,
    }),
    onContextMenuClick(treeKey, menuKey) {
      console.log(`treeKey: ${treeKey}, menuKey: ${menuKey}`);
    },
    handleSubmit(e) {
      e.preventDefault();
      this.form.validateFields((err, values) => {
        if (!err) {
          console.log('Received values of form: ', values);
        }
      });
    },
    selectTree(key) {
      
      this.showDetail = !!key.length;
      this.selectItem.setFieldsValue({
        ...this.treeData.findTree(r => r.id === key[0])
      });
    },
    changeModal(show){
      this.setModal(show)
    },
    deleteMenu(obj){
      this.setLoading(true);
      this.deleteMenuAction(obj.id);
      this.setLoading(false);
    },
    handleChange(value, key, column) {
      const newData = [...this.data];
      const target = newData.filter(item => key === item.id)[0];
      if (column==='higher_text'){
        const val = value.split('~');
        if (target) {
          target[column] = val[1];
          target['higher'] = val[0];
          this.setData(newData);
        }
      }else {
        if (target) {
          target[column] = value;
          this.setData(newData);
        }
      }
    },
    edit(key) {
      const newData = [...this.data];
      const target = newData.filter(item => key === item.id)[0];
      this.setEditingKey(key);
      if (target) {
        target.editable = true;
        this.setData(newData);
      }
    },
    save(key) {
      const newData = [...this.data];
      const newCacheData = [...this.cacheData];
      const target = newData.filter(item => key === item.id)[0];
      const targetCache = newCacheData.filter(item => key === item.id)[0];
      if (target && targetCache) {
        delete target.editable;
        this.setData(newData);
        Object.assign(targetCache, target);
        this.setCacheData(newCacheData);
        this.updateMenuAction(target);
      }
      this.setEditingKey('');
    },
    cancel(key) {
      const newData = [...this.data];
      const target = newData.filter(item => key === item.id)[0];
      this.setEditingKey('');
      if (target) {
        Object.assign(target, this.cacheData.filter(item => key === item.id)[0]);
        delete target.editable;
        this.setData(newData);
      }
    },
  },
}
</script>

<style lang="less" scoped>
.animate__animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
.manage-list__box{
  padding: 20px;
}
.manage-list__content {
  margin-top: 48px;
}
.manage-list__card {
  box-shadow: aqua 1px 1px 10px;
  border-radius: 20px;
  padding: 20px;
  margin: 0 20px;
}
</style>
